@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.navbar-brand .nav-link {
  color: #ffffff;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue",
    "Roboto", sans-serif;
  font-size: 20px;
}

.custom-nav-text {
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Roboto",
    sans-serif;
  font-size: 20px;
}

.nav-bg-custom {
  background-color: black;
}

.navbar-dark .navbar-nav > .nav-item > .active {
  color: white; /* <—– change your color here*/
  text-decoration-line: underline;
}

.navbar-dark .navbar-nav > .nav-item > a:hover {
  color: #ffee00;
}

.navbar-dark .navbar-nav > .nav-item > a {
  color: #ffffff; /* <—– change your color here*/
}

.searchResults {
  transform: translateY(40px);
  top: 6px;
  width: 243px;
  background-color: white;
  position: absolute;
  z-index: 100;
  border-radius: 5px;
}
